.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.taskList, .addListName, .addTask{
  box-shadow: 2px 3px 10px -2px rgba(0,0,0,0.74);
  background-color: #36BBCE;
  width: 200px;
  margin: 5px;
  padding: 5px;
}

.task{
    box-shadow: 2px 3px 10px -2px rgba(0,0,0,0.74);
  background-color: #FFB673;
  margin: 5px;
  padding: 5px;
}